@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 211, 185, 139;

    --site-header-height: 6rem /* 96px */;
}

body {
    color: rgb(var(--foreground-rgb));
    background: black;
}

@layer base {
    body {
        @apply font-medium;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
